{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container my-2 for-post">

    <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-item-center">
            <div>
            <img src="{{ post.user.get_avatar(30) }}" width="auto" height="30">
            <a href="/{{post.user.username}}/profile" class="btn" role="btn">{{post.user.username}}</a>
            </div>
            <div class="d-flex justify-content-end align-item-center my-2">
                <span id="likes-count-{{post.id}}">{{ post.likes|length }}</span>
                {% if user.id in post.likes|map(attribute="author")|list %}
                <i class="fas fa-thumbs-up"
                   id="like-button-{{post.id}}"
                   role="button"
                   onclick="like({{post.id}})"></i>
                {% else %}
                <i class="far fa-thumbs-up"
                   id="like-button-{{post.id}}"
                   role="button"
                   onclick="like({{post.id}})"></i>
                {% endif %}
                {% if user.id == post.author %}
                <div class="px-1">
                    <a href="/{{ post.id }}/edit_post" role="button" ><i class="fas fa-pen-square"></i></a>
                 </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-close" data-bs-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/delete_post/{{post.id}}" class="dropdown-item">Удалить</a></li>
                    </ul>
                </div>

                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">{{ post.text }}</div>
            <br/>
            <p class="card-text">
                {% if post.comments|length > 0 %}
                    <a onclick="showComments({{post.id}})"
                                 data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button" class="btn btn-sm btn-outline-primary">
                        <small id="comments-button-{{post.id}}"
                                >Посмотреть комментарии </small>
                        <small id="comments-count-{{post.id}}">({{ post.comments|length }})</small>
                    </a>
                {% else %}
                    <small class="text-muted">Нет комментариев</small>
                {% endif %}
            </p>
            <div class="collapse" id="comments-{{post.id}}">
                <div class="card">
                    <div class="card-body" id="comments-expanded-{{post.id}}">
                        {% for comment in post.comments|reverse %}

                        <div class="d-flex justify-content-between align-items-top" >
                            <div style="width: 90%;">
                                    <img src="{{ comment.user.get_avatar(20) }}" width="auto" height="20">
                                    <a href="/{{ comment.user.username }}/profile" class="py-0 px-0">{{ comment.user.username }}</a>
                                : {{ comment.text }}
                            </div>
                            <div align="right">

                                {% if comment.author == user.id or post.author == user.id %}
                                    <div class="btn-group">
                                        <button type="button"
                                                class="btn btn-sm btn-primary btn-close"
                                                data-bs-toggle="dropdown">
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="/post/{{post.id}}/delete_comment/{{comment.id}}" class="dropdown-item">Удалить</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <small class="text-muted">{{ local_time(comment.created_date) }}</small>
                        <a id="answer-{{comment.id}}" class="btn btn-sm" role="button" onclick="answerComments('{{comment.user.username}}')">Ответить</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        <form class="mb-1" method="post" action="/create_comment/{{post.id}}" >
            {{ form.hidden_tag() }}
            {{ form.text() }}
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!-- <input type="text" id="text" name="text" class="form-control" placeholder="Напишите что-нибудь!"/> -->
            <button id="comment-button" type="submit" class="btn btn-primary my-1">Комментировать</button>
        </form>
        </div>
        <div class="card-footer text-muted">
            {{ local_time(post.created_date) }}
        </div>
    </div>
    <br/>
    <div class="d-flex justify-content-center">
    <a href="/home#{{post.id}}" class="btn btn-secondary">Назад</a>
        </div>
</div>
{% endblock %}
